[Unit]
Description= 730i Knob Service
Before=backend.service

[Service]
Type=idle
ExecStart=/etc/scripts/knob.sh
Restart=on-success
RestartSec=1

[Install]
WantedBy=multi-user.target
