[Unit]
Description= 730i Knob Service
Before=backend.service

[Service]
Type=idle
ExecStart=/etc/scripts/knob.sh

[Install]
WantedBy=multi-user.target
