# Copyright (C) 2022, Noccarc Robotics - All Rights Reserved

# This service calls the ui.sh script located in /etc/scripts/
# Requires the weston@root service to be up for it to execute successfully

[Unit]
Description= 730i UI Service
Requires=weston@root.service
After=weston@root.service

[Service]
Type=idle
ExecStart=/etc/scripts/ui.sh
Restart=on-success
RestartSec=1

[Install]
WantedBy=multi-user.target
