[Unit]
Description= 730i Backend Service
Requires=weston@root.service
After=ui.service

[Service]
Type=idle
ExecStart=/etc/scripts/backend.sh
Restart=on-success
RestartSec=1

[Install]
WantedBy=multi-user.target
