[Unit]
Description= 730i ZMQ Router Service
Requires=weston@root.service
before=ui.service

[Service]
Type=idle
ExecStart=/usr/local/zmq/arm_router

[Install]
WantedBy=multi-user.target
