#Remove all device except mass storage type
KERNELS=="1-1:*", SUBSYSTEM=="usb", DRIVER!="usb-storage", ACTION!="remove", ACTION!="unbind", PROGRAM=="/bin/sh -c 'echo hello: %p > /dev/kmsg'", PROGRAM=="/bin/sh -c 'cd /sys%p && cd ../ && echo 1 > remove'"
KERNELS=="2-1:*", SUBSYSTEM=="usb", DRIVER!="usb-storage", ACTION!="remove", ACTION!="unbind", PROGRAM=="/bin/sh -c 'echo hello: %p > /dev/kmsg'", PROGRAM=="/bin/sh -c 'cd /sys%p && cd ../ && echo 1 > remove'"

